/*настройка тела*/
body {
	background: url('back.jpg') no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
/*конец*/

/*верх страницы*/
.head {
	position: fixed;
	background-color: #307ab9;
	right: 0;
	top: 0;
	left: 0;	
	width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,222);
}

.header {
	position: absolute;
	border-style: solid;
	border-color: #317bb9;
	padding: 1px;
	background-color: white;
	margin-left: 25px;
	margin-right: 25px;
}
/*конец*/

/*блоки*/
.host,
.block-stadium,
.create-profile {
	margin: 5% 10% 0% 10%;
	float: left;
	border-style: solid;
	border-color: #317bb9;
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	text-align: justify;
	display: none;
}

.host {
	display: block;
}

.country {
	float: left;
	border-style: solid;
	border-color: #317bb9;
	padding: 5px;
	border-radius: 10px;
	background-color: white;
	margin: 5% 10% 0% 10%;
	width: 79%;
	display: none;
}

.block-group1,
.block-group3,
.block-group5,
.block-group2,
.block-group4,
.block-group6 {
	float: left;
	border:3px solid #317bb9;
	padding: 5px;
	border-radius: 10px;
	background-color: white;
	margin: 5% 10% 0% 10%;
	width: 25%;
	display: none;
}

.block-group2,
.block-group4,
.block-group6 {
	margin: 5% 10% 0% 15%;
}
/*конец*/

/*Работа с таблицой и табличными элементами*/
td {
	border:1px dashed black;
	text-align: left;
	margin: 2px;
}

table {
	border:1px solid black;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.table-image-country {
	width: 15px;
	height: 15px;
}

.center-style td {
	text-align: center;
}

.center-style-image {
	text-align: center;
	border: 0px;
}

.green {
	background-color: #90FC83;
}

.red {
	background-color: #F28582;
}

.yellow {
	background-color: #FBDB65;
}
/*конец*/

/*блок информации о странице*/
#footer {
	border-style: solid;
	border-color: #317bb9;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	text-align: justify;
	display: block;
	float: left;
	position: fixed;
	right: 0; 
	bottom: 0;
}

#footer p {
	font-family: TREBUCHET MS;
	text-align: right;
}

#footer img {
	position: absolute;
	right: -2px;
	top: -10px;
	width: 20px;
	height: 20px;
}
/*конец*/

/*полное удаление блока*/
.close img {
	float: right;
	right: -2px;
	top: -10px;
	width: 20px;
	height: 20px;
}
/*конец*/

/*оптекание картинок*/
.image-left {
	width: 520px;
	height: 300px;
	float: left;
	margin: 20px;
}

.image-right {
	width: 520px;
	height: 300px;
	float: right;
	margin: 20px;
}
/*конец*/

/*работа с картинками для увеличения*/
.image img {
	transition: all 1s ease-out;

 }

.image img:hover {
	transform: scale(1.1);

 }

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed; 
}

.overlay:target {
    display: block;
}

.popup {
    top: -100%;
    right: 0;
    left: 40%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
}

.overlay:target+.popup {
    transform: translate(-50%, 0);
    top: 20%;
}

.popup img {
    width: auto;
    height: auto;
    border: 10px solid white;
    border-radius: 20px;
}
/*конец*/

/*заголовки*/
h1 {
	color: #F9435D;
	text-align: center;
	font-family: SEGOE PRINT;
}

h2 {
	color: #186AFF;
	text-align: center;
	font-family: CURSIVE;
}

h4 {
	color: #186AFF;
	font-family: CURSIVE;
	text-align: center;
}
/*конец*/

/*выпадающее меню и профиль и настройка ul и li*/
.right-ul {
	margin-right: 80%;
}

.right-li {
	margin-right: 1%;
}

#menu a {
	color: #1b213a;
	position: relative;
  	display: table;
  	width: 100%;
  	text-decoration: none;
}

#menu a:hover {
	color: white;
}

#menu ul {
	position: absolute;
  	z-index: 5;
  	display: none;
}
#menu li:hover ul { 
	display: block;
}

#menu li {
	display: inline-block;
	color: #1b213a ;
}

ul {
    display: block;
    list-style: square;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;
}

ul.menu > li > a {
    display: block;
    color: white;
    background-color: #317bb9;
    text-decoration: none;
}

ul.menu > li > a:hover {
    background-color: black;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 130px;
    left: 10px;
    background-color: #4392cc;
    border: 1px solid #4392cc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #4392cc;
    text-decoration: none;
}
/*конец*/

/*выпадающий слайд*/
.slide-out-div {
    padding: 10px;
    width: 250px;
    height: 150px;
    background: white;
    border: blue 1px solid;
    position: absolute;
}
/*конец*/

/*стандарные настройки ссылок*/
a {
	color: #317bb9;
	text-decoration: none;
}

a:hover {
	color: red;
}
/*конец*/

/*выпадающие картинки в header*/
.ddbtn {
    margin: 1px 2px;
    float: right;
    width: 42px;
    height: 28px;
    overflow: hidden;
    display: block;
}

.ddbtn div {
    padding: 5px;
}

.ddbtn:hover div {
    position: absolute;
    border-radius: 5px;
    background-color: #4794cf;
    z-index: 1;
}

.ddbtn a {
    margin: 1px;
    display: block;
}
/*конец*/

/*Кнопка сохранить/отмена*/
a.save {
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(64,199,129);
	box-shadow: 0 -3px rgb(53,167,110) inset;
	transition: 0.2s;
} 

a.save:hover { 
	background: rgb(53, 167, 110); 
}

a.save:active {
	background: rgb(33,147,90);
	box-shadow: 0 3px rgb(33,147,90) inset;
}

a.cancel {
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(248,93,89);
	box-shadow: 0 -3px rgb(244,52,47) inset;
	transition: 0.2s;
} 

a.cancel:hover { 
	background: rgb(244,52,47); 
}

a.cancel:active {
	background: rgb(201,18,13);
	box-shadow: 0 3px rgb(201,18,13) inset;
}
/*конец*/

/*картинка на верх*/
.scrollup{
	width:40px;
	height:40px;
	position:fixed;
	opacity: 0.5;
	bottom:50px;
	left:5%;
	display:none;
	text-indent:-9999px;
	background: url('icon_top.png') no-repeat;
}

a.scrollup:hover{
	opacity: 1;
}
/*конец